<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="Style.css" />
</head>
<body class="center">

<header class="headertext"><h2>Create Ticket</h2></header>
<form action="saveTicket" method="post"  >

	<label>Ticket Title:</label>
	<br>
	<input type="text" name="title"/>
	<br><br>
	
	<label for="description">Ticket Short Description :</label>
	<br>
	<textarea id="description" name="description"  rows="5" cols="50" maxlength="650" ></textarea><br>
	<br><br>
	
	<label for="content">Content :</label>
	<br>
	<textarea id="content" name="content"  rows="8" cols="50" maxlength="1000"  ></textarea><br>
	<br><br>
	
	<label>Ticket Created :</label>
	<br>
	<input type="date" name="date" />
	<br><br>	
	
	<button type="submit">Add</button>
</form>

</body>
</html>